canvas {
	display: block;
	color: azure;
	width: 100%;
   	height: 100vh;
    	flex-direction: column;
    	align-items: center;
    	justify-content: center;
    	background-color: black;
}

.block-audio {
	display: none;
}
@media screen and (max-width:574px){
}
