body{
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
canvas {
	display: block;
}

.block-audio {
	display: none;
}
@media screen and (max-width:574px){
}
